google-cloud-texttospeech==2.14.1
chromadb==0.4.10
langchain==0.0.292
python-dotenv==1.0.0
pydub==0.25.1
openai==0.28.0
google-cloud-storage==2.10.0
manim==0.17.3
Flask==2.3.3
Flask-Cors==4.0.0
gunicorn==21.2.0
imageio-ffmpeg==0.4.9
tiktoken==0.5.1
xmltodict==0.13.0